  <div class="col-md-6" style="margin-bottom: 100px;">
    <div>
      <%=fff.label :step_photo%>
      <%=fff.file_field :step_photo,class: "form-control"%>
      <br>
      <div class="col-xs-3 col-sm-3 col-md-3">
      <%=fff.number_field :step,placeholder:"Step eg. 1",class: "form-control"%>
      </div>
      <div class="col-xs-9 col-sm-9 col-md-9">
      <%=fff.text_field :title,placeholder:"Step Title eg. Cook the rice",class: "form-control"%>
      </div>
      
      <%=fff.label :description%>
      <%=fff.text_area :description,class: "form-control", rows: "10"%>
    </div>
    <%= fff.link_to_remove "Remove this step" %>
    <br>
  </div>