    <div class="panel panel-default">
      <div class="panel-body">
        <div class="page-header tag col-md-12">
          INGREDIENTS
        </div>
        <ul style="list-style-type:none">
          <%=f.fields_for :ingredients,Ingredient.new,class: "form-inline" do |ff|%>
            <%=render "ingredient", ff: ff%> 
          <%end%>
          <br>
          <%= f.link_to_add "+", :ingredients, class: "btn btn-default",style: "margin-left: 15px;" %>
        </ul>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="page-header tag col-md-12">
          INSTRUCTIONS
        </div>
          <%=f.fields_for :instructions,Instruction.new do |fff|%>
            <%=render "instructions", fff: fff%> 
          <%end%>
          <%= f.link_to_add "Add step", :instructions %>
      </div>
    </div> 