
  <div class="row">
    <h4>Cookbook</h4>
    <%=form_tag search_recipes_path(ids: @recipes.pluck(:id)),:remote => true,class: "form-inline" do%>
    <div class="form-group">
    <div class="col-xs-8 col-sm-8 col-md-8">
        <%=text_field_tag :search, nil, placeholder: "Search",class: "form-control"%>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4">
        <%=submit_tag "Go",class: "btn btn-default"%>
    </div>
    </div>
    <%end%>
  </div>
<br>
<hr />

<div class="panel-group" id="accordion" >
  <div class="panel panel-default">
    <div class="panel-heading" >
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" >
        <h4>Main Ingredient</h4>
        </a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <ul class="list-group main-ingredient">
        <%MainIngredient.all.order("name").each do |mi|%>
          <li class="list-group-item" >
          <%=link_to filter_recipes_path(ids: @recipes_id,filter_id: mi.id, type: "mi"),:remote => true do%>
            <%=mi.name%>
          <%end%>
          </li>
        <%end%>
          <li class="list-group-item last">See More</li>
      </ul>
    </div>
  </div>

  <hr />
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" >
        <h4>Cuisine</h4>
        </a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse in">
      <ul class="list-group cuisine">
        <%Cuisine.all.order("name").each do |cuisine|%>
          <li class="list-group-item">
            <%=link_to filter_recipes_path(ids: @recipes_id,filter_id: cuisine.id),:remote => true do%>
              <%=cuisine.name%>
            <%end%>
          </li>
        <%end%>
          <li class="list-group-item last">See More</li>
      </ul>
    </div>
  </div>
</div>