<div class="col-md-12">
<nav class="navbar navbar-default">
  <div class="container-fluid" >
    <div class="navbar-header">
      <div class="navbar-brand"><%=@user.name%>'s Recipes</div>
    </div>
	<%=form_tag search_recipes_path(ids: @recipes.pluck(:id)),:remote => true,class: "navbar-form navbar-left" do%>
	    <div class="form-group">
		    <div class="col-xs-8 col-sm-8 col-md-8">
		        <%=text_field_tag :search, nil, placeholder: "Search by recipe name",class: "form-control"%>
		    </div>
		    <div class="col-xs-4 col-sm-4 col-md-4">
		        <%=submit_tag "Go",class: "btn btn-default"%>
		    </div>
	    </div>
    <%end%>
  </div>
</nav>
</div>

<div class="col-xs-12 col-sm-4 col-md-3">

	<%=render "show"%>
</div>
<div class="col-sm-8"></div>

<div class="col-xs-12 col-sm-12 col-md-9">
	<div id="row">
		<%=render "/recipes/search"%>
	</div>
	<%= paginate @recipes %>
</div>