<nav class="navbar navbar-default">
  <div class="container-fluid" >
    <div class="navbar-header">
      <div class="navbar-brand">Favourites</div>
    </div>
  </div>
</nav>

<div class="col-xs-12 col-sm-4 col-md-3">

	<div class="row">
		<h4>Cookbook</h4>
		<%=text_field_tag :search, nil, placeholder: "Search"%>
		<%=submit_tag "Go"%>
	</div>

	<div class="row">
		Main Ingredient <i class="glyphicon glyphicon-chevron-down" style="float:right"></i>
	</div>

	<div class="row">
		Cuisine <i class="glyphicon glyphicon-chevron-down" style="float:right"></i>
	</div>

	<div class="row">
		Seasonal Recipes <i class="glyphicon glyphicon-chevron-down" style="float:right"></i>
	</div>

</div>

<div class="col-xs-12 col-sm-8 col-md-9" id="row">

	<%@favourites.each do |fav|%>

	<div class="col-xs-12 col-sm-12 col-md-4 boxes" id="<%=fav.recipe.id%>">

		<%=link_to recipe_path(fav.recipe) do%>

			<div class="food-photo row">
				<%if fav.recipe.food_photo.present?%>
					<%=image_tag fav.recipe.food_photo.thumb.url%>
				<%else%>
					<%=image_tag fav.recipe.food_photo.default_url%>
				<%end%>
			    <div class="middle">
			    	<i class="glyphicon glyphicon-search"></i>
			    </div>
			</div>
		

		<div class="row">
			<strong><%=fav.recipe.title%></strong><br>

		<%end%>

			by: <%=link_to "#{fav.recipe.user.name}", "/users/#{fav.recipe.user.id}/recipes"%><br>

			<%=link_to new_favourite_path(user: @user, recipe: fav.recipe),remote: true do%>
				<%if !signed_in? || !@current_user_favourites .include?(fav.recipe.id)%>
					<i class="glyphicon glyphicon-heart-empty"></i> 
				<%else%>
					<i class="glyphicon glyphicon-heart"></i>
				<%end%>
			<%end%>
			&nbsp <span><%=number_with_delimiter(fav.recipe.favourites.count)%></span>
		</div>
	</div>

	<%end%>

</div>