<div class="col-xs-12 col-sm-4 col-md-3">

<div class="row">
<h4>Cookbook</h4>
<%=text_field_tag :search, nil, placeholder: "Search"%>
<%=submit_tag "Go"%>
</div>

<div class="row">
Main Ingredient <i class="glyphicon glyphicon-chevron-down" style="float:right"></i>
</div>

<div class="row">
Cuisine <i class="glyphicon glyphicon-chevron-down" style="float:right"></i>
</div>

<div class="row">
Seasonal Recipes <i class="glyphicon glyphicon-chevron-down" style="float:right"></i>
</div>

</div>

<div class="col-xs-12 col-sm-8 col-md-9" id="row">

<%Recipe.all.each do |recipe|%>

<div class="col-xs-12 col-sm-12 col-md-4 boxes">

	<%=link_to recipe_path(recipe) do%>

	<div class="food-photo row">
		<%=image_tag recipe.food_photo.thumb.url%>
	  <div class="middle">
	    <i class="glyphicon glyphicon-search"></i>
	  </div>
	</div>

	<div class="row">
		<strong><%=recipe.title%></strong>
	</div>

	<%end%>
</div>

<%end%>

</div>